# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj


# .NET Core
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp

# Executables
*.exe
*.out
*.app
*.iobj
*.ipdb
*.tlog
# Folder
.svn/
Debug/
Release/
ipch/
x64/
x86/
ARM64/
.vs/

VIMES/
VIMES_NEW/
webapps/
www/
node_modules/
packages/
Bin/
BinD/
enc_temp_folder/
packages/

# Override root .gitignore to ensure we pick up changes for the sample app
!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.props

# Ignore the binary generated version of the resource (.rc) file
*.aps

# Make sure script debug config is checked in for vendor testing
!.vscode


VIMESService/Release/
*.vcxproj
RebuildAll/RebuildAll.sln

WebView/Release/
WebView/ipch/
WebView/x64/
WebView/x86/
WebView/ARM64/
WebView/.vs/
WebView/Win32/
WebView/packages/



VTK/ASqlDev.cpp
VTK/ASqlDev.h
VTK/Backup/VimesPowerTools.sln
VTK/BotWriter.cpp
VTK/BotWriter.h
VTK/ChildView.cpp
VTK/ChildView.h
VTK/Debug/BuildLog.htm
VTK/Debug/vc70.idb
VTK/EmployeeDialog.cpp
VTK/EmployeeDialog.h
VTK/GenCode.cpp
VTK/GenCode.h
VTK/HMSTaskViewer.cpp
VTK/HMSTaskViewer.h
VTK/ListNotification.cpp
VTK/ListNotification.h
VTK/MainFrm.cpp
VTK/MainFrm.h
VTK/ReadMe.txt
VTK/res/SqlDev.ico
VTK/res/SqlDev.manifest
VTK/res/SqlDev.rc2
VTK/res/Toolbar.bmp
VTK/resource.h
VTK/ScheduleDialog.cpp
VTK/ScheduleDialog.h
VTK/SqlDev.rc
VTK/SqlDev.vcproj
VTK/SqlDev.vcxproj.filters
VTK/SqlDev.vcxproj.user
VTK/SqlDevDlg.cpp
VTK/SqlDevDlg.h
VTK/stdafx.cpp
VTK/stdafx.h
VTK/UpgradeLog.htm
VTK/VimesPowerTools.cpp
VTK/VimesPowerTools.h
VTK/VimesPowerTools.sln
VTK/VimesPowerTools.suo
VTK/VPTTab.cpp
VTK/VPTTab.h
RebuildAll/RebuildAll.sln
RebuildAll/RebuildAll.sln

